openapi: 3.0.3

info:
  title: iHymns API
  version: "0.10.1"
  description: |
    The iHymns API provides programmatic access to the iHymns hymn and song
    database. It powers the iHymns Progressive Web App (PWA), enabling song
    search, songbook browsing, setlist management, user authentication,
    favorites sync, offline PWA caching, and administrative operations.

    All endpoints are served from a single PHP entry point (`api.php`) and are
    routed via the `action` query parameter. Responses are JSON unless otherwise
    noted. The admin-only **Editor API** (`/manage/editor/api.php`) follows the
    same action-query pattern but is gated by the `/manage/` PHP session.

    ## Authentication

    Endpoints that require authentication accept either a Bearer token or the
    cross-subdomain session cookie:

    ```
    Authorization: Bearer <64-character hex token>
    ```

    or

    ```
    Cookie: ihymns_auth=<64-character hex token>
    ```

    The cookie is `Domain=.ihymns.app; HttpOnly; SameSite=Lax; Secure` so a
    single sign-in persists across `ihymns.app`, `alpha.ihymns.app`, and
    `beta.ihymns.app`. Tokens are issued by `auth_login`,
    `auth_email_login_verify`, or `auth_register`, and carry a **sliding
    30-day expiry** — every authenticated request bumps the expiry by one
    day (at most once per 24h per token).

    Magic-link email sign-in (`auth_email_login_request` →
    `auth_email_login_verify`) is the primary path surfaced in the UI;
    username/password (`auth_login`) is the fallback.

    ## Entitlements

    Admin and editor endpoints are gated by **capabilities**, not just roles.
    The default mapping lives in `includes/entitlements.php` and can be
    overridden at runtime via `/manage/entitlements`. The `role` field on a
    user is still returned for compatibility, but authorisation uses the
    capability check internally.

    ## Rate Limiting

    Song request submissions are rate-limited to a configurable maximum per IP
    per day (default: 5).
  contact:
    name: iHymns Support
    url: https://ihymns.app
  license:
    name: Proprietary
    url: https://ihymns.app/terms

servers:
  - url: https://ihymns.app
    description: Production
  - url: https://alpha.ihymns.app
    description: Alpha channel (gated by `access_alpha` entitlement)
  - url: https://beta.ihymns.app
    description: Beta channel (gated by `access_beta` entitlement)
  - url: https://beta.ihymns.net
    description: Legacy beta / dev

tags:
  - name: Songs
    description: Search, retrieve, and browse songs and songbooks
  - name: Languages
    description: Language metadata and song translations
  - name: Setlists
    description: Create, retrieve, and sync personal setlists
  - name: Setlists — Scheduling
    description: Schedule setlists for a date and list upcoming events (#398)
  - name: Setlists — Collaboration
    description: Invite collaborators, manage permissions, list shared setlists (#398)
  - name: Song Requests
    description: Submit and view community song requests
  - name: Favorites
    description: Server-synced user favorites
  - name: Authentication
    description: User registration, login, logout, and profile management
  - name: User Access
    description: Group-based access control and app status
  - name: Preferences
    description: Server-side preference sync across devices
  - name: Offline / PWA
    description: Bulk-fetch endpoints used by the service worker for offline caching
  - name: Discovery
    description: Tags, suggestions, related songs, popular songs
  - name: Push
    description: Push-notification subscription endpoints
  - name: Organisations
    description: Multi-tenant organisation membership and administration
  - name: Content Access
    description: Content-licence + restriction evaluation for gated songs / audio / sheet music
  - name: Song Metadata
    description: Per-song data surfaces — history, key, writers, revisions
  - name: Pages
    description: HTML + alternate-format (CSV / XML / JSON / OpenSong / VideoPsalm) renderers
  - name: Admin
    description: Administrative endpoints for user, group, and content management
  - name: Admin — Restrictions
    description: Content-restriction rule engine (tier / org / platform / licence)
  - name: Admin — Revisions
    description: Review pending song revisions
  - name: Admin — Maintenance
    description: Cleanup, export, and songbook-health utilities
  - name: Editor API
    description: |
      Admin-only endpoints under `/manage/editor/api.php`, protected by the
      /manage/ PHP session rather than a Bearer token. Used by the song
      editor SPA for per-song save, bulk tag, and revision history.

paths:
  # ===========================================================================
  # SONGS
  # ===========================================================================

  /api.php?action=search:
    get:
      operationId: searchSongs
      tags: [Songs]
      summary: Search songs
      description: |
        Full-text search across song titles, lyrics, writers, and composers.
        Uses MySQL FULLTEXT for queries of 3+ characters with a LIKE fallback
        for shorter queries. Results are returned as lightweight summaries.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [search]
        - name: q
          in: query
          required: true
          description: Search query string
          schema:
            type: string
            minLength: 1
            example: amazing grace
        - name: songbook
          in: query
          required: false
          description: Filter results to a specific songbook abbreviation
          schema:
            type: string
            example: CP
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/SongSummary"
                  total:
                    type: integer
                    description: Number of results returned
                    example: 3
                  query:
                    type: string
                    description: The search query that was executed
                    example: amazing grace
              example:
                results:
                  - id: CP-0202
                    number: 202
                    title: Amazing Grace
                    songbook: CP
                    songbookName: Christian Praise
                    writers: ["John Newton"]
                    hasAudio: false
                    hasSheetMusic: true
                total: 1
                query: amazing grace

  /api.php?action=search_num:
    get:
      operationId: searchByNumber
      tags: [Songs]
      summary: Search songs by number
      description: Search for songs by their number within a specific songbook.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [search_num]
        - name: songbook
          in: query
          required: true
          description: Songbook abbreviation
          schema:
            type: string
            example: MP
        - name: number
          in: query
          required: true
          description: Song number to search for
          schema:
            type: string
            example: "42"
      responses:
        "200":
          description: Matching songs
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/SongSummary"
                  total:
                    type: integer

  /api.php?action=song_data:
    get:
      operationId: getSongData
      tags: [Songs]
      summary: Get full song data
      description: |
        Retrieve the complete data for a single song by its ID. Includes
        lyrics components (verses, choruses), writers, composers, and metadata.
        Supports flexible ID formats: `MP-1`, `MP-01`, `MP-001`, and `MP-0001`
        all resolve to the same song.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [song_data]
        - name: id
          in: query
          required: true
          description: "Song ID in BOOK-NUMBER format (e.g., CP-0001)"
          schema:
            type: string
            example: CP-0001
      responses:
        "200":
          description: Full song data
          content:
            application/json:
              schema:
                type: object
                properties:
                  song:
                    $ref: "#/components/schemas/Song"
        "400":
          description: Missing song ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Song ID is required.
        "404":
          description: Song not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Song not found.

  /api.php?action=songs:
    get:
      operationId: listSongs
      tags: [Songs]
      summary: List songs
      description: |
        Get all songs as lightweight summaries, optionally filtered by songbook.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [songs]
        - name: songbook
          in: query
          required: false
          description: Filter by songbook abbreviation
          schema:
            type: string
            example: CP
      responses:
        "200":
          description: Song list
          content:
            application/json:
              schema:
                type: object
                properties:
                  songs:
                    type: array
                    items:
                      $ref: "#/components/schemas/SongSummary"
                  total:
                    type: integer

  /api.php?action=songbooks:
    get:
      operationId: listSongbooks
      tags: [Songs]
      summary: List all songbooks
      description: Retrieve the list of all available songbooks with their song counts.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [songbooks]
      responses:
        "200":
          description: Songbook list
          content:
            application/json:
              schema:
                type: object
                properties:
                  songbooks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Songbook"
              example:
                songbooks:
                  - id: CP
                    name: Christian Praise
                    songCount: 650
                  - id: MP
                    name: Mission Praise
                    songCount: 1200

  /api.php?action=random:
    get:
      operationId: getRandomSong
      tags: [Songs]
      summary: Get a random song
      description: Returns a random song, optionally restricted to a specific songbook.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [random]
        - name: songbook
          in: query
          required: false
          description: Restrict random selection to a songbook
          schema:
            type: string
            example: CP
      responses:
        "200":
          description: Random song data
          content:
            application/json:
              schema:
                type: object
                properties:
                  song:
                    $ref: "#/components/schemas/Song"
        "404":
          description: No songs available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: No songs available.

  /api.php?action=stats:
    get:
      operationId: getStats
      tags: [Songs]
      summary: Get collection statistics
      description: Returns aggregate statistics about the song collection including totals per songbook.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [stats]
      responses:
        "200":
          description: Collection statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stats"
              example:
                totalSongs: 4500
                totalSongbooks: 6
                songbooks:
                  - id: CP
                    name: Christian Praise
                    songCount: 650

  /api.php?action=songs_json:
    get:
      operationId: exportSongsJson
      tags: [Songs]
      summary: Export full song database as JSON
      description: |
        Exports the complete song database as a single JSON payload for
        client-side Fuse.js search and service worker caching. Supports
        ETag-based conditional requests (returns 304 Not Modified when the
        client cache is still valid).
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [songs_json]
      responses:
        "200":
          description: Full song database
          headers:
            ETag:
              description: Content hash for conditional caching
              schema:
                type: string
            Cache-Control:
              description: Caching directive
              schema:
                type: string
                example: "public, max-age=3600, must-revalidate"
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    description: Collection metadata
                    properties:
                      totalSongs:
                        type: integer
                      totalSongbooks:
                        type: integer
                  songbooks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Songbook"
                  songs:
                    type: array
                    items:
                      $ref: "#/components/schemas/Song"
        "304":
          description: Not Modified (client cache is still valid)

  /api.php?action=missing_songs:
    get:
      operationId: getMissingSongs
      tags: [Songs]
      summary: Get missing song numbers in a songbook
      description: |
        Identifies gaps in the sequential numbering of songs within a songbook.
        Compares the range 1 to max song number against existing entries.
        Useful for editors to find songs that have not been added yet.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [missing_songs]
        - name: songbook
          in: query
          required: true
          description: Songbook abbreviation
          schema:
            type: string
            example: CP
      responses:
        "200":
          description: Missing song numbers
          content:
            application/json:
              schema:
                type: object
                properties:
                  missing:
                    type: array
                    items:
                      type: integer
                    description: List of missing song numbers
                    example: [5, 12, 47]
                  maxNumber:
                    type: integer
                    description: Highest existing song number in the songbook
                    example: 650
                  totalExisting:
                    type: integer
                    description: Count of songs that exist
                    example: 640
                  songbook:
                    type: string
                    description: Songbook abbreviation queried
                    example: CP
        "400":
          description: Missing songbook parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Songbook parameter is required.

  # ===========================================================================
  # LANGUAGES
  # ===========================================================================

  /api.php?action=languages:
    get:
      operationId: listLanguages
      tags: [Languages]
      summary: List available languages
      description: Returns all active languages supported by the song collection.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [languages]
      responses:
        "200":
          description: Language list
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Language"
              example:
                languages:
                  - code: en
                    name: English
                    nativeName: English
                    textDirection: ltr
                  - code: fr
                    name: French
                    nativeName: "Fran\u00E7ais"
                    textDirection: ltr

  /api.php?action=song_translations:
    get:
      operationId: getSongTranslations
      tags: [Languages]
      summary: Get translations for a song
      description: |
        Retrieve all available translations for a specific source song,
        including the target language, translator, and verification status.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [song_translations]
        - name: id
          in: query
          required: true
          description: Source song ID
          schema:
            type: string
            example: CP-0202
      responses:
        "200":
          description: Song translations
          content:
            application/json:
              schema:
                type: object
                properties:
                  translations:
                    type: array
                    items:
                      $ref: "#/components/schemas/SongTranslation"
                  sourceId:
                    type: string
                    description: The source song ID that was queried
                    example: CP-0202
        "400":
          description: Missing song ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===========================================================================
  # SETLISTS
  # ===========================================================================

  /api.php?action=setlist_share:
    post:
      operationId: shareSetlist
      tags: [Setlists]
      summary: Create or update a shared setlist
      description: |
        Create a new publicly-shareable setlist or update an existing one.
        When updating, the caller must provide the original `id` and matching
        `owner` UUID. Each shared setlist can contain up to 200 songs with
        optional per-song arrangements.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [setlist_share]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, songs, owner]
              properties:
                name:
                  type: string
                  description: Setlist name
                  maxLength: 200
                  example: Sunday Morning Service
                songs:
                  type: array
                  description: Ordered list of song IDs
                  items:
                    type: string
                    pattern: "^[A-Za-z]+-\\d+$"
                  minItems: 1
                  maxItems: 200
                  example: ["CP-0202", "MP-0042", "CP-0501"]
                owner:
                  type: string
                  description: Owner UUID (client-generated)
                  example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                id:
                  type: string
                  description: Existing setlist ID (for updates only)
                  example: "1a2b3c4d"
                arrangements:
                  type: object
                  description: Optional per-song arrangements mapping song IDs to component index arrays
                  additionalProperties:
                    type: array
                    items:
                      type: integer
                      minimum: 0
                  example:
                    CP-0202: [0, 1, 2, 1, 3]
      responses:
        "200":
          description: Setlist created or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 8-character hex share ID
                    example: "1a2b3c4d"
                  url:
                    type: string
                    description: Shareable URL path
                    example: /setlist/shared/1a2b3c4d
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Ownership verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: You do not own this shared set list.
        "404":
          description: Setlist not found (when updating)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Shared set list not found.
        "405":
          description: Method not allowed (must be POST)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error saving setlist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=setlist_get:
    get:
      operationId: getSharedSetlist
      tags: [Setlists]
      summary: Retrieve a shared setlist
      description: |
        Retrieve a shared setlist by its short hex ID. Returns public-safe
        fields only (the owner UUID is excluded).
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [setlist_get]
        - name: id
          in: query
          required: true
          description: 8-character hex setlist ID
          schema:
            type: string
            example: "1a2b3c4d"
      responses:
        "200":
          description: Shared setlist data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedSetlist"
        "400":
          description: Invalid or missing setlist ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Setlist not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=user_setlists:
    get:
      operationId: getUserSetlists
      tags: [Setlists]
      summary: Get user's setlists
      description: Retrieve all setlists belonging to the authenticated user, ordered by last update.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [user_setlists]
      responses:
        "200":
          description: User setlists
          content:
            application/json:
              schema:
                type: object
                properties:
                  setlists:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserSetlist"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Not authenticated.

  /api.php?action=user_setlists_sync:
    post:
      operationId: syncUserSetlists
      tags: [Setlists]
      summary: Sync setlists with server
      description: |
        Merge local setlists with server-side storage. New setlists (by ID)
        are inserted; existing setlists are updated if the local version is
        newer; server-only setlists are preserved. Maximum 50 setlists per
        user with up to 200 songs each.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [user_setlists_sync]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [setlists]
              properties:
                setlists:
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required: [id, name, songs]
                    properties:
                      id:
                        type: string
                        description: Client-generated setlist ID
                      name:
                        type: string
                        maxLength: 200
                      createdAt:
                        type: string
                        format: date-time
                      songs:
                        type: array
                        maxItems: 200
                        items:
                          $ref: "#/components/schemas/SetlistSongEntry"
      responses:
        "200":
          description: Merged setlists
          content:
            application/json:
              schema:
                type: object
                properties:
                  setlists:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserSetlist"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===========================================================================
  # SONG REQUESTS
  # ===========================================================================

  /api.php?action=song_request:
    post:
      operationId: submitSongRequest
      tags: [Song Requests]
      summary: Submit a song request
      description: |
        Submit a community song request. Available to all users (authentication
        is optional but links the request to the user's account if provided).
        Rate-limited by IP address (configurable, default 5 per day).
      security:
        - bearerAuth: []
        - {}
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [song_request]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                  description: Song title
                  maxLength: 500
                  example: How Great Thou Art
                songbook:
                  type: string
                  description: Songbook the song should be added to
                  maxLength: 100
                  example: CP
                song_number:
                  type: string
                  description: Known song number (if applicable)
                  maxLength: 20
                  example: "456"
                language:
                  type: string
                  description: Language code
                  maxLength: 10
                  default: en
                  example: en
                details:
                  type: string
                  description: Additional details or notes
                  maxLength: 2000
                contact_email:
                  type: string
                  format: email
                  description: Contact email for follow-up
                  maxLength: 255
      responses:
        "201":
          description: Song request submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  id:
                    type: integer
                    description: ID of the created request
                    example: 42
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Song requests are disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Song requests are currently disabled.
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Rate limit exceeded. Maximum 5 requests per day.

  /api.php?action=my_song_requests:
    get:
      operationId: getMySongRequests
      tags: [Song Requests]
      summary: Get my song requests
      description: Retrieve the authenticated user's submitted song requests.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [my_song_requests]
      responses:
        "200":
          description: User's song requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: "#/components/schemas/SongRequest"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===========================================================================
  # FAVORITES
  # ===========================================================================

  /api.php?action=favorites:
    get:
      operationId: getFavorites
      tags: [Favorites]
      summary: Get user favorites
      description: Retrieve all favorite song IDs for the authenticated user.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [favorites]
      responses:
        "200":
          description: Favorite song IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorites:
                    type: array
                    items:
                      type: string
                    example: ["CP-0202", "MP-0042"]
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=favorites_sync:
    post:
      operationId: syncFavorites
      tags: [Favorites]
      summary: Sync favorites
      description: |
        Merge local favorites with server-side storage. The result is the
        union of both sets (no favorites are removed during sync). Maximum
        500 favorites per user.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [favorites_sync]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [favorites]
              properties:
                favorites:
                  type: array
                  description: Array of song IDs from local storage
                  maxItems: 500
                  items:
                    type: string
                    pattern: "^[A-Za-z]+-\\d+$"
                  example: ["CP-0202", "MP-0042"]
      responses:
        "200":
          description: Merged favorites
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorites:
                    type: array
                    items:
                      type: string
                    example: ["CP-0202", "MP-0042", "CP-0501"]
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=favorites_remove:
    post:
      operationId: removeFavorite
      tags: [Favorites]
      summary: Remove a favorite
      description: Remove a single song from the authenticated user's favorites.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [favorites_remove]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [song_id]
              properties:
                song_id:
                  type: string
                  description: Song ID to remove
                  pattern: "^[A-Za-z]+-\\d+$"
                  example: CP-0202
      responses:
        "200":
          description: Favorite removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid song ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===========================================================================
  # AUTHENTICATION
  # ===========================================================================

  /api.php?action=auth_register:
    post:
      operationId: register
      tags: [Authentication]
      summary: Register a new account
      description: |
        Create a new user account. The first registered user automatically
        receives the `global_admin` role; all subsequent users get the `user`
        role. Returns a bearer token valid for 30 days.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_register]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  description: "Lowercase username (letters, numbers, _, -, . only)"
                  minLength: 3
                  pattern: "^[a-z0-9_.\\-]+$"
                  example: john.doe
                password:
                  type: string
                  description: Password (minimum 8 characters)
                  format: password
                  minLength: 8
                display_name:
                  type: string
                  description: Display name (defaults to username if omitted)
                  maxLength: 100
                  example: John Doe
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Username already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Username already taken.

  /api.php?action=auth_login:
    post:
      operationId: login
      tags: [Authentication]
      summary: Log in
      description: |
        Authenticate with username and password. Returns a bearer token
        valid for 30 days.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_login]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: john.doe
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Missing credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Invalid username or password.
        "403":
          description: Account disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Account is disabled.

  /api.php?action=auth_logout:
    post:
      operationId: logout
      tags: [Authentication]
      summary: Log out
      description: Invalidate the current bearer token.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_logout]
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /api.php?action=auth_me:
    get:
      operationId: getCurrentUser
      tags: [Authentication]
      summary: Get current user
      description: Retrieve the profile of the currently authenticated user.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_me]
      responses:
        "200":
          description: Current user info
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=auth_update_profile:
    post:
      operationId: updateProfile
      tags: [Authentication]
      summary: Update profile
      description: Update the authenticated user's display name and email.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_update_profile]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [display_name]
              properties:
                display_name:
                  type: string
                  description: New display name
                  maxLength: 100
                  example: John D.
                email:
                  type: string
                  format: email
                  description: New email address
                  maxLength: 255
                  example: john@example.com
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  user:
                    $ref: "#/components/schemas/UserWithEmail"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=auth_change_password:
    post:
      operationId: changePassword
      tags: [Authentication]
      summary: Change password
      description: |
        Change the authenticated user's password. Requires the current password
        for verification. All other active tokens are invalidated after a
        successful change (the current token remains valid).
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_change_password]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password:
                  type: string
                  format: password
                new_password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Password changed successfully.
        "400":
          description: New password too short
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Not authenticated or wrong current password
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=auth_forgot_password:
    post:
      operationId: forgotPassword
      tags: [Authentication]
      summary: Request password reset
      description: |
        Request a password reset token. Accepts a username or email. Always
        returns HTTP 200 to prevent user enumeration.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_forgot_password]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  description: Username or email address
                  example: john.doe
      responses:
        "200":
          description: Reset token generated (always returns 200)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: If an account exists with that username or email, a reset link has been generated.
        "400":
          description: Missing username/email
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=auth_reset_password:
    post:
      operationId: resetPassword
      tags: [Authentication]
      summary: Reset password with token
      description: Reset a user's password using a valid reset token obtained via `auth_forgot_password`.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_reset_password]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                  description: Password reset token
                password:
                  type: string
                  format: password
                  description: New password (minimum 8 characters)
                  minLength: 8
      responses:
        "200":
          description: Password reset successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Password reset successfully. Please sign in with your new password.
        "400":
          description: Invalid or expired token, or password too short
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===========================================================================
  # EMAIL LOGIN (PASSWORDLESS)
  # ===========================================================================

  /api.php?action=auth_email_login_request:
    post:
      operationId: authEmailLoginRequest
      tags: [Authentication]
      summary: Request an email login link/code
      description: |
        Sends a magic link and 6-digit code to the given email address.
        The code expires after 10 minutes. Always returns 200 to prevent
        email enumeration. Rate-limited to 5 requests per email per hour.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_email_login_request]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
      responses:
        "200":
          description: Request accepted (always 200, even if email not found)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "A login code has been sent to your email address. It expires in 10 minutes."
        "400":
          description: Invalid email address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=auth_email_login_verify:
    post:
      operationId: authEmailLoginVerify
      tags: [Authentication]
      summary: Verify an email login token or code
      description: |
        Validates the token (from the magic link URL) or the email + 6-digit code
        and returns a bearer token. If the email doesn't have an existing account,
        a new user account is auto-created.

        Two verification modes:
        - **Magic link**: provide `token` (48-char hex from the email link)
        - **Code entry**: provide `email` + `code` (6-digit number from the email)
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [auth_email_login_verify]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 48-char hex token from the magic link (mode 1)
                  example: "a1b2c3d4e5f6..."
                email:
                  type: string
                  format: email
                  description: Email address the code was sent to (mode 2)
                  example: user@example.com
                code:
                  type: string
                  pattern: "^\\d{6}$"
                  description: 6-digit code from the email (mode 2)
                  example: "482917"
      responses:
        "200":
          description: Login successful — returns bearer token and user info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Missing token or email+code combination
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid or expired token/code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===========================================================================
  # USER ACCESS
  # ===========================================================================

  /api.php?action=user_access:
    get:
      operationId: getUserAccess
      tags: [User Access]
      summary: Get user access level
      description: |
        Retrieve the authenticated user's group memberships and effective
        access permissions. Access flags control which app versions (alpha,
        beta, RC, RTW) the user can access.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [user_access]
      responses:
        "200":
          description: User access information
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserGroup"
                  effectiveAccess:
                    type: object
                    description: Union of permissions across all user groups
                    properties:
                      alpha:
                        type: boolean
                      beta:
                        type: boolean
                      rc:
                        type: boolean
                      rtw:
                        type: boolean
                    example:
                      alpha: false
                      beta: true
                      rc: true
                      rtw: true
                  role:
                    type: string
                    description: User's role
                    enum: [user, editor, admin, global_admin]
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=app_status:
    get:
      operationId: getAppStatus
      tags: [User Access]
      summary: Get app status
      description: |
        Retrieve public application status flags. No authentication required.
        Used by the PWA on startup to check for maintenance mode and
        feature availability.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [app_status]
      responses:
        "200":
          description: App status
          content:
            application/json:
              schema:
                type: object
                properties:
                  maintenance:
                    type: boolean
                    description: Whether the app is in maintenance mode
                    example: false
                  songRequestsEnabled:
                    type: boolean
                    description: Whether song requests are currently accepted
                    example: true

  /api?action=ccli_validate:
    post:
      operationId: ccliValidate
      tags: [User Access]
      summary: Validate and save a CCLI licence number
      description: Validates format (5-8 digit numeric), stores on user profile, auto-upgrades tier from free to ccli.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ccli_validate]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ccli_number]
              properties:
                ccli_number:
                  type: string
                  example: "1234567"
      responses:
        "200":
          description: CCLI number validated and saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid: { type: boolean }
                  normalized: { type: string }
                  type: { type: string, example: "licence" }
                  tier: { type: string, example: "ccli" }
        "400":
          description: Invalid CCLI format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api?action=tier_check:
    get:
      operationId: tierCheck
      tags: [User Access]
      summary: Check if user's tier allows an action
      description: |
        Resolves the user's effective tier (highest of personal + org tiers)
        and checks if the specified action is permitted.
        Actions: view_lyrics, view_copyrighted, play_audio, download_midi, download_pdf, offline_save, api_access, bulk_export
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [tier_check]
        - name: check
          in: query
          required: true
          schema:
            type: string
            enum: [view_lyrics, view_copyrighted, play_audio, download_midi, download_pdf, offline_save, api_access, bulk_export]
      responses:
        "200":
          description: Access check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed: { type: boolean }
                  reason: { type: string }
                  upgradeTo: { type: string }
                  tier: { type: string }

  /api?action=access_tiers:
    get:
      operationId: getAccessTiers
      tags: [User Access]
      summary: List all available content access tiers
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [access_tiers]
      responses:
        "200":
          description: List of tiers with capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  tiers:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        displayName: { type: string }
                        level: { type: integer }
                        description: { type: string }
                        canViewLyrics: { type: boolean }
                        canViewCopyrighted: { type: boolean }
                        canPlayAudio: { type: boolean }
                        canDownloadMidi: { type: boolean }
                        canDownloadPdf: { type: boolean }
                        canOfflineSave: { type: boolean }
                        requiresCcli: { type: boolean }

  # ===========================================================================
  # ADMIN
  # ===========================================================================

  /api.php?action=admin_users:
    get:
      operationId: adminListUsers
      tags: [Admin]
      summary: List all users
      description: Retrieve all registered users. Requires admin or global_admin role.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [admin_users]
      responses:
        "200":
          description: User list
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminUser"
        "403":
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Admin access required.

  /api.php?action=admin_groups:
    get:
      operationId: adminListGroups
      tags: [Admin]
      summary: List all user groups
      description: Retrieve all user groups with their access permissions. Requires admin or global_admin role.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [admin_groups]
      responses:
        "200":
          description: Group list
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminGroup"
        "403":
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=admin_activity_log:
    get:
      operationId: adminGetActivityLog
      tags: [Admin]
      summary: Get activity log
      description: |
        Retrieve the system activity log with optional filtering by action
        type or user. Requires admin or global_admin role.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [admin_activity_log]
        - name: limit
          in: query
          required: false
          description: Number of entries to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          description: Number of entries to skip (for pagination)
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: action_filter
          in: query
          required: false
          description: Filter by action type
          schema:
            type: string
        - name: user_id
          in: query
          required: false
          description: Filter by user ID
          schema:
            type: integer
      responses:
        "200":
          description: Activity log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/ActivityLogEntry"
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
        "403":
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=admin_song_requests:
    get:
      operationId: adminListSongRequests
      tags: [Admin]
      summary: List all song requests
      description: |
        Retrieve all community song requests with optional status filtering.
        Requires editor, admin, or global_admin role.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [admin_song_requests]
        - name: status
          in: query
          required: false
          description: Filter by request status
          schema:
            type: string
            enum: [pending, reviewed, added, declined]
      responses:
        "200":
          description: Song requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminSongRequest"
        "403":
          description: Editor access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api.php?action=admin_song_request_update:
    post:
      operationId: adminUpdateSongRequest
      tags: [Admin]
      summary: Update a song request
      description: |
        Update the status and admin notes on a song request. Requires editor,
        admin, or global_admin role.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [admin_song_request_update]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, status]
              properties:
                id:
                  type: integer
                  description: Song request ID
                  example: 42
                status:
                  type: string
                  description: New status
                  enum: [pending, reviewed, added, declined]
                  example: reviewed
                admin_notes:
                  type: string
                  description: Admin notes or response
                  example: This song will be added in the next update.
                resolved_song_id:
                  type: string
                  description: Song ID if the request has been fulfilled
                  example: CP-0651
      responses:
        "200":
          description: Request updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid ID or status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Editor access required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api?action=admin_set_user_tier:
    post:
      operationId: adminSetUserTier
      tags: [Admin]
      summary: Set a user's content access tier (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [admin_set_user_tier]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, tier]
              properties:
                user_id: { type: integer }
                tier: { type: string, enum: [public, free, ccli, premium, pro] }
      responses:
        "200":
          description: Tier updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /api?action=admin_set_user_ccli:
    post:
      operationId: adminSetUserCcli
      tags: [Admin]
      summary: Validate and set a user's CCLI number (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [admin_set_user_ccli]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: integer }
                ccli_number: { type: string, description: "Empty string to clear" }
      responses:
        "200":
          description: CCLI number set or cleared
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  # ===========================================================================
  # OFFLINE / PWA  (bulk fetch endpoints for the service worker)
  # ===========================================================================

  /api.php?action=bulk_songs:
    get:
      operationId: bulkSongs
      tags: [Offline / PWA]
      summary: Rendered HTML for every song in a songbook
      description: |
        Returns a map of `songId` → pre-rendered song-page HTML for every
        song in the given songbook. Used by the service worker to pre-cache
        an entire songbook in a single request (~6 requests for the whole
        corpus vs. thousands).
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [bulk_songs] }
        - name: songbook
          in: query
          required: true
          description: Songbook abbreviation (e.g. `CP`, `MP`, `Misc`)
          schema: { type: string }
      responses:
        "200":
          description: Map of song IDs to rendered HTML
          content:
            application/json:
              schema:
                type: object
                properties:
                  songbook: { type: string, example: CP }
                  count:    { type: integer, example: 642 }
                  songs:
                    type: object
                    additionalProperties:
                      type: string
                      description: Rendered `<article>` HTML for the song page

  /api.php?action=bulk_audio:
    get:
      operationId: bulkAudio
      tags: [Offline / PWA]
      summary: Audio URL manifest for every song with audio (#401)
      description: |
        Returns `{songId, url}` for every song whose `HasAudio` flag is set.
        Used by the service worker to pre-cache audio into `iHymns-media-v1`
        when the user enables "Include audio in offline downloads" in
        Settings.
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [bulk_audio] }
        - name: songbook
          in: query
          required: false
          description: Restrict the manifest to one songbook abbreviation
          schema: { type: string, example: CP }
      responses:
        "200":
          description: Audio URL manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  songbook: { type: string, nullable: true, example: CP }
                  count:    { type: integer, example: 180 }
                  audio:
                    type: array
                    items:
                      type: object
                      properties:
                        songId: { type: string, example: CP-0202 }
                        url:    { type: string, example: /data/audio/CP/0202.mp3 }

  # ===========================================================================
  # DISCOVERY  (popular / tags / suggest / related)
  # ===========================================================================

  /api.php?action=popular_songs:
    get:
      operationId: popularSongs
      tags: [Discovery]
      summary: Most-viewed songs over the trailing window
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [popular_songs] }
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 30, minimum: 1, maximum: 365 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 12, minimum: 1, maximum: 50 }
      responses:
        "200":
          description: Ranked list of popular songs
          content:
            application/json:
              schema:
                type: object
                properties:
                  popular:
                    type: array
                    items:
                      $ref: "#/components/schemas/SongSummary"

  /api.php?action=tags:
    get:
      operationId: listTags
      tags: [Discovery]
      summary: List every curated song tag
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [tags] }
      responses:
        "200":
          description: Tag list with song counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:       { type: integer }
                        name:     { type: string, example: Easter }
                        slug:     { type: string, example: easter }
                        songCount: { type: integer }

  /api.php?action=songs_by_tag:
    get:
      operationId: songsByTag
      tags: [Discovery]
      summary: Songs tagged with a given slug
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [songs_by_tag] }
        - name: slug
          in: query
          required: true
          schema: { type: string, example: communion }
      responses:
        "200":
          description: Songs for the tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag:
                    type: object
                    properties:
                      id: { type: integer }
                      name: { type: string }
                      slug: { type: string }
                  songs:
                    type: array
                    items: { $ref: "#/components/schemas/SongSummary" }

  /api.php?action=suggest:
    get:
      operationId: suggest
      tags: [Discovery]
      summary: Typeahead suggestions for the search box
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [suggest] }
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 1 }
      responses:
        "200":
          description: Suggestion list
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      type: object
                      properties:
                        label: { type: string }
                        type:  { type: string, enum: [song, writer, songbook, tag] }
                        id:    { type: string, nullable: true }

  /api.php?action=related_songs:
    get:
      operationId: relatedSongs
      tags: [Discovery]
      summary: Songs related to the given song
      description: Matches by shared tags, same writer, or same songbook vicinity.
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [related_songs] }
        - name: id
          in: query
          required: true
          description: Source song id (e.g. `CP-0202`)
          schema: { type: string }
      responses:
        "200":
          description: Related songs
          content:
            application/json:
              schema:
                type: object
                properties:
                  related:
                    type: array
                    items: { $ref: "#/components/schemas/SongSummary" }

  /api.php?action=song:
    get:
      operationId: getSong
      tags: [Songs]
      summary: Full song record (metadata + components + writers/composers)
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [song] }
        - name: id
          in: query
          required: true
          schema: { type: string, example: CP-0202 }
      responses:
        "200":
          description: Full song record
        "404":
          description: Song not found

  /api.php?action=song_view:
    post:
      operationId: logSongView
      tags: [Songs]
      summary: Log a song-view event
      description: |
        Fire-and-forget analytics ping. Writes one row to `tblSongHistory`
        so the dashboard's view counts + `popular_songs` can aggregate.
        Never blocks the response.
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [song_view] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [songId]
              properties:
                songId: { type: string, example: CP-0202 }
      responses:
        "200":
          description: Logged (or silently dropped when consent is denied)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  # ===========================================================================
  # PREFERENCES
  # ===========================================================================

  /api.php?action=user_preferences:
    get:
      operationId: getUserPreferences
      tags: [Preferences]
      summary: Fetch the caller's server-synced preferences
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [user_preferences] }
      responses:
        "200":
          description: Preference map
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: object
                    additionalProperties:
                      type: string
                    example:
                      theme: dark
                      fontSize: "18"
                      defaultSongbook: CP

  /api.php?action=user_preferences_sync:
    post:
      operationId: syncUserPreferences
      tags: [Preferences]
      summary: Last-write-wins sync of preferences across devices
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [user_preferences_sync] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferences]
              properties:
                preferences:
                  type: object
                  additionalProperties: { type: string }
      responses:
        "200":
          description: Applied server-side; merged result returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: object
                    additionalProperties: { type: string }

  # ===========================================================================
  # SETLISTS — SCHEDULING (#398)
  # ===========================================================================

  /api.php?action=setlist_schedule_set:
    post:
      operationId: setlistScheduleSet
      tags: [Setlists — Scheduling]
      summary: Schedule a setlist for a date
      description: |
        Replaces any existing schedule for the (user, setlistId) pair with a
        new date + optional notes. Ownership is verified against
        `tblUserSetlists`.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_schedule_set] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [setlistId, date]
              properties:
                setlistId: { type: string, example: slist-abc123 }
                date:
                  type: string
                  format: date
                  example: "2026-05-03"
                notes:
                  type: string
                  description: Optional free-text notes
                  example: "Sunday 10am — Communion service"
      responses:
        "200":
          description: Scheduled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SuccessResponse" }
        "400":
          description: Missing or malformed fields
        "401":
          description: Unauthorised
        "404":
          description: Setlist not found or not owned by caller

  /api.php?action=setlist_schedule_clear:
    post:
      operationId: setlistScheduleClear
      tags: [Setlists — Scheduling]
      summary: Remove the scheduled date for a setlist
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_schedule_clear] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [setlistId]
              properties:
                setlistId: { type: string, example: slist-abc123 }
      responses:
        "200":
          description: Cleared (no-op if nothing was scheduled)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SuccessResponse" }

  /api.php?action=setlist_schedule_current:
    get:
      operationId: setlistScheduleCurrent
      tags: [Setlists — Scheduling]
      summary: Fetch the current schedule for one setlist
      description: Used by the setlist detail view to pre-populate the date input.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_schedule_current] }
        - name: setlistId
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Schedule row or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  schedule:
                    oneOf:
                      - type: "null"
                      - type: object
                        properties:
                          ScheduledDate: { type: string, format: date }
                          Notes:         { type: string }

  /api.php?action=setlist_schedule_upcoming:
    get:
      operationId: setlistScheduleUpcoming
      tags: [Setlists — Scheduling]
      summary: Next 25 scheduled setlists from today forward
      description: |
        Powers the "Up next" card on the setlist overview page. Only
        returns the caller's own scheduled setlists (not ones shared
        with them).
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_schedule_upcoming] }
      responses:
        "200":
          description: Upcoming schedule list
          content:
            application/json:
              schema:
                type: object
                properties:
                  upcoming:
                    type: array
                    items:
                      type: object
                      properties:
                        SetlistId:     { type: string }
                        ScheduledDate: { type: string, format: date }
                        Notes:         { type: string }
                        name:          { type: string, nullable: true }

  # ===========================================================================
  # SETLISTS — COLLABORATION (#398)
  # ===========================================================================

  /api.php?action=setlist_collab_invite:
    post:
      operationId: setlistCollabInvite
      tags: [Setlists — Collaboration]
      summary: Invite a user by email to collaborate on a setlist
      description: |
        Owner-only. Resolves the invitee by email (must already have an
        iHymns account) and upserts a row in `tblSetlistCollaborators`.
        Re-inviting the same user updates their permission.
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_collab_invite] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [setlistId, collaboratorEmail]
              properties:
                setlistId:          { type: string }
                collaboratorEmail:  { type: string, format: email }
                permission:
                  type: string
                  enum: [view, edit]
                  default: edit
      responses:
        "200":
          description: Invitation accepted / permission updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  collaborator:
                    type: object
                    properties:
                      id:         { type: integer }
                      username:   { type: string }
                      permission: { type: string, enum: [view, edit] }
        "400":
          description: Missing fields, invalid email, or self-invite
        "404":
          description: Setlist not owned by caller, or no user with that email

  /api.php?action=setlist_collab_list:
    get:
      operationId: setlistCollabList
      tags: [Setlists — Collaboration]
      summary: List collaborators on a setlist the caller owns
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_collab_list] }
        - name: setlistId
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Collaborator list, newest invite first
          content:
            application/json:
              schema:
                type: object
                properties:
                  collaborators:
                    type: array
                    items:
                      type: object
                      properties:
                        id:         { type: integer }
                        username:   { type: string }
                        email:      { type: string, format: email }
                        permission: { type: string, enum: [view, edit] }
                        invitedAt:  { type: string, format: date-time }

  /api.php?action=setlist_collab_remove:
    post:
      operationId: setlistCollabRemove
      tags: [Setlists — Collaboration]
      summary: Revoke a collaborator's access to a setlist
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_collab_remove] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [setlistId, collaboratorId]
              properties:
                setlistId:      { type: string }
                collaboratorId: { type: integer }
      responses:
        "200":
          description: Removed (reports how many rows were deleted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:      { type: boolean }
                  removed: { type: integer, minimum: 0 }

  /api.php?action=setlist_collab_shared_with_me:
    get:
      operationId: setlistCollabSharedWithMe
      tags: [Setlists — Collaboration]
      summary: Setlists the caller has been invited to
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [setlist_collab_shared_with_me] }
      responses:
        "200":
          description: Shared-with-me list
          content:
            application/json:
              schema:
                type: object
                properties:
                  shared:
                    type: array
                    items:
                      type: object
                      properties:
                        ownerId:    { type: integer }
                        ownerName:  { type: string }
                        setlistId:  { type: string }
                        permission: { type: string, enum: [view, edit] }
                        name:       { type: string, nullable: true }

  # ===========================================================================
  # PUSH NOTIFICATIONS
  # ===========================================================================

  /api.php?action=push_subscribe:
    post:
      operationId: pushSubscribe
      tags: [Push]
      summary: Register a Web Push subscription for the current user
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [push_subscribe] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint, keys]
              properties:
                endpoint: { type: string, format: uri }
                keys:
                  type: object
                  required: [p256dh, auth]
                  properties:
                    p256dh: { type: string }
                    auth:   { type: string }
      responses:
        "200":
          description: Subscription stored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SuccessResponse" }

  /api.php?action=push_unsubscribe:
    post:
      operationId: pushUnsubscribe
      tags: [Push]
      summary: Remove a Web Push subscription
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [push_unsubscribe] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint]
              properties:
                endpoint: { type: string, format: uri }
      responses:
        "200":
          description: Removed (idempotent)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SuccessResponse" }

  # ===========================================================================
  # EDITOR API  (separate entry point — /manage/editor/api.php)
  # ===========================================================================

  /manage/editor/api.php?action=load:
    get:
      operationId: editorLoad
      tags: [Editor API]
      summary: Load every song + songbook + writer row the editor needs
      description: |
        Editor SPA hits this once on open. Returns the full in-memory
        model. Auth is the `/manage/` PHP session — not a Bearer token.
      responses:
        "200":
          description: Full editor payload
        "401":
          description: Not authenticated (redirect the user to /manage/login)
        "403":
          description: Authenticated but not an editor

  /manage/editor/api.php?action=save_song:
    post:
      operationId: editorSaveSong
      tags: [Editor API]
      summary: Transactional UPSERT of one song (#394)
      description: |
        Writes `tblSongs` + children in a transaction and records one row
        in `tblSongRevisions` with `PreviousData` / `NewData` snapshots.
        The editor calls this per modified song — much cheaper than the
        legacy full-corpus `save`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, title]
              properties:
                id:              { type: string, example: CP-0202 }
                title:           { type: string }
                number:
                  type: integer
                  nullable: true
                  description: Null for `Misc` songs or when empty (#392)
                songbook:        { type: string }
                songbookName:    { type: string }
                language:        { type: string, example: en }
                copyright:       { type: string }
                ccli:            { type: string }
                verified:            { type: boolean }
                lyricsPublicDomain:  { type: boolean }
                musicPublicDomain:   { type: boolean }
                hasAudio:            { type: boolean }
                hasSheetMusic:       { type: boolean }
                components:
                  type: array
                  items:
                    type: object
                    properties:
                      type:  { type: string, example: verse }
                      cNum:  { type: integer }
                      lines: { type: array, items: { type: string } }
      responses:
        "200":
          description: Saved; revision logged
        "400":
          description: Missing required id/title
        "500":
          description: Save failed; details in server log

  /manage/editor/api.php?action=bulk_tag:
    post:
      operationId: editorBulkTag
      tags: [Editor API]
      summary: Add and/or remove tags across a list of songs (#399)
      description: |
        Transactional. ADDs upsert `tblSongTags` (with slug) and
        INSERT-IGNORE into `tblSongTagMap`. REMOVEs resolve by tag name
        and delete matching mapping rows. Unknown tag names on remove
        are silently ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [songIds]
              properties:
                songIds:
                  type: array
                  items: { type: string, example: CP-0202 }
                add:
                  type: array
                  items: { type: string, example: Easter }
                remove:
                  type: array
                  items: { type: string, example: Funeral }
      responses:
        "200":
          description: Summary of what changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  songsAffected: { type: integer }
                  added:         { type: integer, description: Rows actually inserted }
                  removed:       { type: integer, description: Rows actually deleted }
        "400":
          description: No valid songIds or no tag changes supplied

  /manage/editor/api.php?action=list_revisions:
    get:
      operationId: editorListRevisions
      tags: [Editor API]
      summary: List revisions for one song (#400)
      parameters:
        - name: action
          in: query
          required: true
          schema: { type: string, enum: [list_revisions] }
        - name: songId
          in: query
          required: true
          schema: { type: string, example: CP-0202 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Revision list, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:           { type: integer }
                        action:       { type: string, enum: [create, edit, restore, delete] }
                        createdAt:    { type: string, format: date-time }
                        userId:       { type: integer, nullable: true }
                        username:     { type: string, nullable: true }
                        previousData: { type: object, nullable: true }
                        newData:      { type: object, nullable: true }

  /manage/editor/api.php?action=restore_revision:
    post:
      operationId: editorRestoreRevision
      tags: [Editor API]
      summary: Restore a song to the state BEFORE a given revision (#400)
      description: |
        Rewrites the core `tblSongs` row from the chosen revision's
        `PreviousData` and records a new revision with `Action='restore'`
        whose `PreviousData` captures the state just-overwritten.
        Transactional — rolls back on any failure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [revisionId]
              properties:
                revisionId: { type: integer, example: 4712 }
      responses:
        "200":
          description: Restored; new revision row's id is returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:            { type: boolean }
                  songId:        { type: string }
                  newRevisionId: { type: integer }
        "404":
          description: Revision id not found
        "409":
          description: This revision has no prior state (it's the initial create)

[...]
